$colorGradient1: #e4d6d5;
$colorGradient2: #589fcf;
$colorHover: #2572a5;
$colorContrast: #f2f0f1;

$fontRobotoThin: 'Roboto-Thin';
$fontRobotoLight: 'Roboto-Light';
$fontRobotoBlack: 'Roboto-Black';
$fontRobotoRegular: 'Roboto-Regular';
$fontRobotoMedium: 'Roboto-Medium';
$fontRobotoBold: 'Roboto-Bold';
